
.button{
   border: none; outline: none; 
   background-color: #1890FF;
   color: #FFFFFF;
   height: 40px;
   width: 319px;
   border-radius: 4px;
  }

  .button-wrap{
   width: 319px;
   margin: 10px auto;
  }

  
  .link{
   text-decoration: none;
   color: #1890FF;
  }


  .small-text{
   width: 319px;
   text-align: center;
   line-height: 20px;
   font-size: 12px;
  }

  .wrap{
   background-color: #FFFFFF;
   height: 374px;
   width: 384px;
   margin: 40px auto;
   border: 1px solid #D9D9D9;
   box-shadow: 0 1.5px 3px #000000;
   border-radius: 6px;
   font-family: Roboto;
  }

.title{
   font-family: sans-serif;
   font-size: 20px;
   line-height: 28px;
   margin: 30px auto;
   margin-bottom: 20px;
   width:fit-content;
}


