@import '../../assets/styles/varialiables.scss';

.header{
   background-color: white;
   height: 80px;
}

.wrap{
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.title{ 
   margin-left:22px;
   font-size: 18px;
   line-height: 28px;
   font-weight: 500;
}

.in{
   width: 109px;
   height: 51px;
   background-color: white;
   border: none; outline: none;
   margin-right: 22px;
   margin-top: 16px;
}

.up{ width: 109px;
   height: 51px;
   background-color: white;
   border: none; outline: none;
   border: 1px solid #52C41A;
   border-radius: 5px;
   color: #52C41A;
   margin-right: 22px;
   margin-top: 16px;
}


.logo {
   margin: 0;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
 
   &__link {
     color: $heading-color;
     text-decoration: none;
   }
 }
 
 .buttons {
   display: flex;
   align-items: center;
   gap: 25px;
 }
 
 .button {
   font-family: inherit;
   font-size: 18px;
   height: auto;
 }
 
 .buttonSingUp,
 .buttonCreateAticle {
   border-color: $success-color;
   color: $success-color;
 
   &:hover {
     background-color: $success-color;
     border-color: $success-color !important;
     color: #fff !important;
   }
 }
 
 .buttonLogout {
   border-color: rgba(85, 84, 84, 0.56);
   color: rgba(85, 84, 84, 0.56);
 
   &:hover {
     border-color: $heading-color !important;
     color: $heading-color !important;
   }
 }
 
 .userInfo {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 
 .userName {
   color: $heading-color;
   text-decoration: none;
 
   &:hover {
     text-decoration: underline;
   }
 }
 
 .userAvatar {
   flex-shrink: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 46px;
   height: 46px;
   border-radius: 50%;
 }