.header{
   background-color: white;
   height: 80px;
}

.wrap{
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.title{ 
   margin-left:22px;
   font-size: 18px;
   line-height: 28px;
   font-weight: 500;
}

.in{
   width: 109px;
   height: 51px;
   background-color: white;
   border: none; outline: none;
   margin-right: 22px;
   margin-top: 16px;
}

.up{ width: 109px;
   height: 51px;
   background-color: white;
   border: none; outline: none;
   border: 1px solid #52C41A;
   border-radius: 5px;
   color: #52C41A;
   margin-right: 22px;
   margin-top: 16px;
}